/* pagina mural */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* pagina graficos */

.grafico-container {
  position: relative;

  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#graficos {
  position: relative;
  display: flex;
  
  border: 6px solid rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-left: 150px;

}



.borda_grafico {
  border: 6px solid rgb(33, 29, 80);
  border-radius: 20px;
 
  padding: 20px;
  background-color: white;
  width: 480px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  position: relative;

}

.overlay-info {
  position: absolute;
  top: -120px;
background-color: #292f5f;
border:#292f5f solid 6px;
 border-radius: 26px;
  display: flex;
  flex-direction: row;
  gap: 95px;
  align-items: center;
}

.grafico_barra {
  display: flex;
  align-items: center;
  
  width: 510px;
  height: 380px;
}
.grafico_pizza {
  display: flex;
  align-items: center;
  width: 340px;

}

.dash {
  width: 88%;
  position: relative;
  top: 0;
  left: 12%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  height: 100vh;
  overflow: auto;
}




.item-regua {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  height: 50px;
  width: 110px;
  font-size: 15px;
}


.item-regua p {
  margin: 0;
  font-weight: 500;
}

.item-regua p:nth-child(2) {
  font-weight: 700;
}

.perigo-frio {
  background-color: blue;
  border:#000000 solid 2px;
}
.alerta-frio {
  border:#000000 solid 2px;
  background-color: #ac1616;
}

.tituloGraficos {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}



/* QUIZ */
.quiz-container {
  font-size: 18px;
  color: white;
  display: flex;
  margin-left: 10%;
  align-items: center;
  border: #000000 solid 5px;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button_container button {
  padding: 10px 20px;
  border: none;
  align-items: center;
  border-radius: 50px;
  background-color: #292f5f;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.Questao1 {
  display: flex;
  border-radius: 3px;
  align-items: center;
  flex-direction: column;

}

.botao1 {
  display: flex;
  gap: 8px;
  background-color: #303077;
 border-radius: 15px;
  border: #ffffff solid 2px;
  align-items: center;
}

.Questao2 {
  display: flex;
  align-items: center;

  flex-direction: column;

}

.botao2 {
  display: flex;
  gap: 8px;
border-radius: 15px;
  border: #ffffff solid 2px;
  background-color: #303077;
  align-items: center;
}

.Questao3 {
  display: flex;
  align-items: center;

  flex-direction: column;
}

.botao3 {
  display: flex;
  gap: 8px;
  background-color: #303077;
  border: #ffffff solid 2px;
border-radius: 15px;
  align-items: center;
}

.Questao4 {
  display: flex;
  align-items: center;

  flex-direction: column;
}

.botao4 {
  display: flex;
  background-color: #303077;
  gap: 8px;
border-radius: 15px;
  border: #ffffff solid 2px;
  align-items: center;
}

.Questao5 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.botao5 {
  display: flex;
  gap: 8px;
  background-color: #303077;
border-radius: 15px;
  border: #ffffff solid 2px;
  align-items: center;
}

.Questao6 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.botao6 {
  display: flex;
  background-color: #303077;
border-radius: 15px;
  border: #ffffff solid 2px;
  gap: 8px;
  align-items: center;
}

.Questao7 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.botao7 {
  display: flex;
  gap: 8px;
  background-color: #303077;
border-radius: 15px;
  border: #ffffff solid 2px;
  align-items: center;
}

.Questao8 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.botao8 {
  display: flex;
  gap: 8px;
  background-color: #303077;
border-radius: 15px;
  border: #ffffff solid 2px;
  align-items: center;
}

.Questao9 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.botao9 {
  display: flex;
  gap: 8px;
  background-color: #303077;
  border: #ffffff solid 2px;
border-radius: 15px;
  align-items: center;
}

.Questao10 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.botao10 {
  display: flex;
  gap: 8px;
border-radius: 15px;
  border: #ffffff solid 2px;
  background-color: #303077;
  align-items: center;
}

.Questao11 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.botao11 {
  display: flex;
  gap: 8px;
  background-color: #303077;
  border-radius: 15px;
  border: #ffffff solid 2px;
  align-items: center;
}

.Questao12 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.botao12 {
  display: flex;
  gap: 8px;
  background-color: #303077;
border-radius: 15px;
  border: #ffffff solid 2px;
  align-items: center;
}

.Questao13 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.botao13 {
  display: flex;
  gap: 8px;
  background-color: #303077;
border-radius: 15px;
  border: #ffffff solid 2px;
  align-items: center;
}

.Questao14 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.botao14 {
  display: flex;
  gap: 8px;
  background-color: #303077;
border-radius: 15px;
  border: #ffffff solid 2px;
  align-items: center;
}

.Questao15 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.botao15 {
  display: flex;
  gap: 8px;
  background-color: #303077;
border-radius: 15px;
  border: #ffffff solid 2px;
  align-items: center;

}

#resultado {
  margin-top: 40px;
  text-align: center;
  color: #ffffff;
  background-color: #303077;
  font-size: 20px;
}



.fundo_quiz {
  background-image: linear-gradient(to bottom, rgb(0, 30, 151), rgb(31, 38, 135), rgb(59, 28, 172));
  width: 100%;
  margin-left: 0%;
}

.graph {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}



canvas {
  width: 100% !important;
  height: 100% !important;
}



.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #000000;
  background-color: #303077;
}



.header-left h1 {
  color: #ffffff;
}

.hello {
  width: 100%;
  font-family: myFont;
  src: url(sansation_light.woff);
  display: flex;
  justify-content: center;
}

.hello h2 {
  color: #ffffff;
  font-weight: 120;
  font-size: 1.8rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #6f6f6f;
  border-radius: 3px;
  gap: 3px;
  text-align: center;
  padding: 4% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #989898;
  border-radius: 3px;
  gap: 3px;
  text-align: center;
  padding: 4% 5%;
}

.btn-nav-white h3 {
  color: #003272;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #32b9cd;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}