@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(255, 255, 255);
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid #000000;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: #025094;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #2d3d8e;
}

.titulo {
  color: #32b9cd;
  width: fit-content;


}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  height: var(--tamanho-banner);
  color: rgb(255, 255, 255);
  background-image: url('../assets/imgs/fundo.jpg');
  filter: brightness(0.7);
  background-size: cover;
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;

}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 37px;

}

.banner .container span {
  font-weight: 800;

}

/* MISSÃO VISÃO VALORES */

.social {
  background-color: #025582;
  display: flex;
  color: white;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

.social p {
  
   text-align: justify; /* texto alinhado*/ 
   
}

.box {
  display: flex;
  flex-direction: column;

}

/* FOOTER */

.footer {
  background-color: #025582;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/telas.jpg');
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(5, 65, 156);
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #32b9cd;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #33228a;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* CSS DA PARTE DE HISTÓRIA*/
.social1{
   background-color: #264a84;
   display: flex;
   align-items: center;
   justify-content: center;
  padding: 30px;
}
.fotocarroantigo {

background-color: #bab6b6;

}

.caixa {

  color: rgb(222, 222, 222);
  justify-content: space-between;
  display: flex;
   text-align: justify; /* texto alinhado*/ 
    gap: 40px;

}

/* Especialidades  */ 
.containerbloco{
justify-content: center ;
  flex-direction: row;

  align-items: center;
  display: flex;
  padding: 50px;
}
.bloco1{
   border: 0;
  border-radius: 7px;
  font-weight: 80px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  align-items: center;
  font-size: 14px;
  
  flex-direction: column;
  display: flex;
  color: #030303;
  font-size: 20px;
  width: 220px;
  margin-left: 100px;
  height: 290px;
background-color: #025582;
}
.bloco2{
   border: 0;
  border-radius: 7px;
  font-weight: 80px;
  font-size: 14px;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  color: #000000;
  width: 220px;
  margin-left: 100px;
  height: 290px;
 background-color: #025582;
}
.bloco3{
   border: 0;
  border-radius: 7px;
  align-items: center;
  font-weight: 80px;
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  flex-direction: column;
  display: flex;
  color: #000000;
  width: 220px;
  font-size: 20px;
  margin-left: 100px;
  height: 290px;
background-color: #025582;
}
.bloco4{
   border: 0;
  border-radius: 7px;
  font-weight: 80px;
  font-size: 14px;
  align-items: center;
  flex-direction: column;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  color: #000000;
  width: 220px;
  font-size: 20px;
  margin-left: 100px;
  height: 290px;
background-color: #025582;
}
/* VIDEOS   */
.containervideos{
  justify-content: center ;
  font-size: 25px;
  display: flex;
  background-color: #adadad;
  padding: 80px;
}
.video1{
    border: 0;
  border-radius: 7px;
  font-weight: 80px;
  font-size: 14px;
  
  flex-direction: column;
  display: flex;
  color: #fff;
  width: 190px;
  margin-left: 120px;
  height: 100px;
  background-color: #adadad;
}
.video2{
    border: 0;
  border-radius: 7px;
  font-weight: 80px;
  font-size: 14px;
  
  flex-direction: column;
  display: flex;
  color: #fff;
  width: 190px;
  margin-left: 100px;
  height: 100px;
  background-color: #adadad;
}
.video3{
    border: 0;
  border-radius: 7px;
  font-weight: 80px;
  font-size: 14px;
  
  flex-direction: column;
  display: flex;
  color: #fff;
  width: 190px;
  margin-left: 100px;
  height: 100px;
  background-color: #adadad;
}
.video4{
    border: 0;
  border-radius: 7px;
  font-weight: 80px;
  font-size: 14px;
  
  flex-direction: column;
  display: flex;
  color: #fff;
  width: 190px;
  margin-left: 100px;
  height: 100px;
  background-color: #adadad;
}
  /* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll;
  height: var(--tamanho-simulador);
}
/* Serviço*/
.serviço{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0% {
    transform: rotate(25deg)
  }

  25% {
    transform: rotate(-25deg)
  }

  50% {
    transform: rotate(25deg)
  }

  75% {
    transform: rotate(-25deg)
  }

  100% {
    transform: rotate(25deg)
  }
}